---
title: Overview of Tanzu Build Service v1.13
owner: Build Service Team
---

This topic gives you an overview of Tanzu Build Service (commonly known as TBS).

## <a id='overview'></a> Overview

Tanzu Build Service uses the open-source [Cloud Native Buildpacks](https://buildpacks.io) project to turn application source code into [container images](https://github.com/opencontainers/image-spec/blob/main/spec.md).
Build Service executes reproducible builds that align with modern container standards and keeps image resources up to date.
It does so by leveraging Kubernetes infrastructure with [kpack](https://github.com/buildpacks-community/kpack), a Cloud Native Buildpacks Platform, to orchestrate the image lifecycle.
The kpack CLI tool, kp can aid in managing kpack resources.

Build Service helps you develop and automate containerized software workflows securely and at scale.

## <a id='concepts'></a> Build Service Concepts

Build Service reduces operational overhead and improves security by automating the building of application images.
It relies on `Image`, `Builder`, `ClusterStore`, and `ClusterStack` to achieve these results.

### <a id='image'></a> Image Resource

An `Image` resource defines the source of the application, build time environment and registry destination. This source code could reside in git, a blobstore, or as code on a workstation.

For more information see the [Managing Images and Builds](managing-images.html) page.

### <a id='builders'></a> Builder

A `Builder` references the Stack and Buildpacks used in the process of building source code. They provide the Buildpacks that run against the application and the operating system (OS) images upon which the application is built and run.

For more information, see the [Managing Builders](managing-builders.html) page.

### <a id='store'></a> Buildpacks

A `(Cluster)Buildpack` represents a Cloud Native Buildpack available for use in Builders.

For more information, see the [Managing Buildpacks](managing-buildpacks.html) page.

### <a id='store'></a> ClusterStore

A `ClusterStore` serves as a repository for Cloud Native Buildpacks available for use in Builders. You can populate a store with Buildpacks you [create](https://buildpacks.io/docs/buildpack-author-guide/create-buildpack/) and [package](https://buildpacks.io/docs/buildpack-author-guide/package-a-buildpack).

For more information, see the [Managing ClusterStores](managing-stores.html) page.

### <a id='stacks'></a> ClusterStack

A `ClusterStack` defines a pair of build and run OS images. Critical security vulnerabilities are addressed by building apps on the most up-to-date stack. The stacks used by Build Service to build applications are referenced in the Builders.

For more information, see the [Managing ClusterStacks](managing-stacks.html) page.

## <a id='components'></a> Build Service components

Tanzu Build Service ships with the following components:

* [kpack](https://github.com/buildpacks-community/kpack)
* [kpack CLI (kp)](https://github.com/vmware-tanzu/kpack-cli)
* [CNB lifecycle](https://github.com/buildpacks/lifecycle)

## <a id='dependencies'></a> Build Service Dependencies

### <a id='buildpacks'></a> Buildpacks

Tanzu Build Service utilize [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

### <a id='stacks'></a> Stacks

Stack Documentation is available on the [Tanzu Buildpacks documentation](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/services/tanzu-buildpacks/GUID-stacks.html).

The following Stacks and their updates can be found on the [Tanzu Build Service Dependencies](https://network.tanzu.vmware.com/products/tbs-dependencies/) page.

| Name | ID |
|---|---|
| tiny | io.paketo.stacks.tiny |
| base | io.buildpacks.stacks.bionic |
| full | io.buildpacks.stacks.bionic |
| tiny-jammy | io.paketo.stacks.jammy.tiny |
| base-jammy | io.buildpacks.stacks.jammy |
| full-jammy | io.buildpacks.stacks.jammy |

### <a id='descriptors'></a> Descriptors

Tanzu Build Service descriptors are curated sets of dependencies, including stacks and buildpacks, that are
continuously released on [VMware Tanzu Network](https://network.tanzu.vmware.com/products/tbs-dependencies/) to resolve all workload
Critical and High CVEs.
Descriptors are imported into Tanzu Build Service to update the entire cluster.

There are two types of descriptor, `lite` and `full`.
The different descriptors can apply to different use cases and workload types.
You can configure which descriptor is imported when installing Tanzu Build Service.

For more information, see [Descriptors](./descriptors.html).

### <a id='upgrading-dependencies'></a> Updating Build Service Dependencies

Build Service allows the user to update Buildpacks and Stacks via the `kp` CLI. You can learn more about updating Build Service Dependencies [here](updating-deps.html).

## <a id='troubleshooting'></a> Troubleshooting

For troubleshooting failed builds, check the [FAQ section](faq.html) of our docs.

If you are unable to resolve your problem, please contact [Tanzu VMware Support](https://tanzu.vmware.com/support).

## <a id='telemetry-notice'></a> Notice of telemetry collection for Tanzu Build Service

[//]: # (This following text came from legal. Do not edit it.)

Tanzu Build Service participates in the VMware Customer Experience Improvement Program (CEIP).
As part of CEIP, VMware collects technical information about your organization’s use of VMware
products and services in association with your organization’s VMware license keys.
For information about CEIP, see the [Trust & Assurance Center](http://www.vmware.com/trustvmware/ceip.html).
You may join or leave CEIP at any time.
The CEIP Standard Participation Level provides VMware with information to improve its products and
services, identify and fix problems, and advise you on how to best deploy and use VMware products.
For example, this information can enable a proactive product deployment discussion with your VMware
account team or VMware support team to help resolve your issues.
This information cannot directly identify any individual.

[//]: # (The text above came from legal. Do not edit it.)

You must acknowledge that you have read the VMware CEIP policy before you can proceed with the
installation.
For more information, see [Installing Tanzu Build Service](installing-tap-profile.md#profile-install).
To opt out of telemetry participation after installation, see
[Opting out of telemetry collection](opt-out-of-telemetry-collection.md).
