---
title: Installing Windows Components (Beta)
owner: Build Service Team
---

<p class="note warning"><strong>Warning:</strong> This feature is in Beta.</p>

Tanzu Build Service supports building [.NET Framework](https://docs.pivotal.io/tanzu-buildpacks/dotnet-framework/dotnet-framework-buildpack.html) application images. Building .NET Framework images will require a Kubernetes cluster with Windows nodes provisioned.

To set up Tanzu Build Service for Windows-based builds, please follow the following steps:

1. Complete the standard Tanzu Build Service installation process. 

<p class='note'><strong>Note:</strong> TBS on Windows does not currently support self-signed registry certificates. Please use a public registry or a non-self-signed cert. </p>

2. Ensure you have a Kubernetes cluster with Windows nodes provisioned

3. Import the Tanzu Build Service Windows Dependencies. 

The Tanzu Build Service Windows Dependencies (Stacks, Buildpacks, Builders, etc.) can be used to build .NET Framework applications and keep them patched. These must be imported with the `kp` cli and the Dependency Descriptor (`windows-descriptor-<version>.yaml`) file from the [Tanzu Build Service Dependencies for Microsoft Windows](https://network.pivotal.io/products/tbs-dependencies-windows/) page:

```
kp import -f /tmp/windows-descriptor-<version>.yaml
```

The following features are not yet supported on Windows nodes of Tanzu Build Service

* Caching of build artifacts (which reduces the time of subsequent builds)
* Preloading of ClusterBuilder images
* Usage of self-signed registry certificate
  
