---
title: Install Windows components of Tanzu Build Service (beta)
owner: Build Service Team
---

This topic tells you how to install Windows components of Tanzu Build Service.

<p class="note warning"><strong>Important:</strong> 
  This feature is in beta because of its limitations. 
  Beta features might undergo changes before the end of the beta stage.
  
  This beta feature receives full VMware support. 
</p>

<p class='note'><strong>Note:</strong> Tanzu Build Service on Windows does not currently support self-signed registry certificates. Please use a public registry or a non-self-signed cert. </p>

Tanzu Build Service supports building [.NET Framework](https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet-framework) application images. Building .NET Framework images require a Kubernetes Cluster with Windows nodes provisioned.

After the Windows nodes are provisioned, the Tanzu Build Service Windows Dependencies (Stacks, Buildpacks, Builders, and so on) can be used to build .NET Framework applications and keep them patched. These must be imported with the `kp` cli and the Dependency Descriptor (`windows-descriptor-<version>.yaml`) file from the [Tanzu Build Service Dependencies for Microsoft Windows](https://network.tanzu.vmware.com/products/tbs-dependencies-windows/) page:

```
kp import -f /tmp/windows-descriptor-<version>.yaml
```

The following features are not yet supported on Windows nodes of Tanzu Build Service:

* Caching of build artifacts (which reduces the time of subsequent builds)
* Preloading of ClusterBuilder images
* Self-signed registry certificate
