---
title: Using the kp CLI with Tanzu Build Service
owner: Build Service Team
---

This topic describes how to use the kp CLI with Tanzu Build Service

## <a id='kp-overview'></a> About the kp CLI

kp is a CLI that you can use to interact with Tanzu Build Service resources.
You can use kubectl to interact with Tanzu Build Service in all cases, however,
the kp CLI simplifies and improves this experience.

For more information, see the [kp CLI GitHub repository](https://github.com/vmware-tanzu/kpack-cli/)
and the [kp CLI documentation](https://github.com/vmware-tanzu/kpack-cli/tree/main/docs).

Some of the highlights of using the kp CLI:

- [Configuring secrets for Tanzu Build Service](managing-secrets.html)
- [Getting logs for builds](managing-images.html#build-logs)
- [Creating builders](managing-builders.html)

## <a id='kp-limitations'></a> Limitations of the kp CLI

The kp CLI includes almost all features of Tanzu Build Service.
However, not all features are supported.
VMware plans to increase the Tanzu Build Service features that the kp CLI supports.

The following features are unsupported in kp CLI v0.7.0:

- Custom Stacks
- Images
  - `successBuildHistoryLimit` and `failedBuildHistoryLimit`
  - `imageTaggingStrategy`
  - `defaultProcess`
  - `cache.registry`
  - `cache.volume.storageClassName`
  - `cosign`
