---
title: Migrating to new installation workflows
owner: Build Service Team
---

This topic describes how to migrate deployments of Tanzu Build Service installed with older installation workflows to be managed with newer installation workflows. VMware recommends that you migrate to profile-based installation, which is the newest way to install and manage Tanzu Build Service.


## <a id='kapp-contoller-migration'></a> Migrating from kapp controller installation to TAP profile-based installation

Complete the following steps to migrate from kapp controller installation to TAP [profile-based installation](installing-tap-profile.html).

## Prerequisites 

- The Tanzu Build Service kapp controller install must be deployed in the `tbs-install` namespace with the name `tbs` as described in [Installing with kapp controller](installing.html).
- The new installation of Tanzu Build Service must be installed in the `tap-install` namespace.

### Procedure

1. Run:

    ```console
    kubectl -n tbs-install patch packageinstalls.packaging.carvel.dev tbs --type='json' -p='[{"op": "add", "path": "/spec/noopDelete", "value":true}]'
    ```

2. Run:

    ```console
    tanzu package installed delete tbs -n tbs-install`
    ```

3. To verify Tanzu Build Service is still installed, run:

    ```console
    kubectl get clusterbuilders
    ```

4. Run:

    ```console
    tanzu package repository delete tbs-repository -n tbs-install
    ```

5. Run:

    ```console
    kubectl create ns tap-install
    ```

6. Run:

    ```console
    kapp rename -a tbs.app -n tbs-install new-name buildservice.app --new-namespace tap-install.
    ```

7. Follow the steps in [Installing using a profile](installing-tap-profile.html).


## <a id='kapp-migration'></a> Migrating from kapp installation to TAP profile-based installation

Complete the following steps to migrage from kapp installation to TAP [profile-based installation](installing-tap-profile.html). For more information about Kapp intallation, see [Install without kapp controller](installing-no-kapp.html).

### Prerequisites

- The kapp app was deployed with the name `tanzu-build-service` in the `default` namespace
- The new installation of Tanzu Build Service will be installed in the `tap-install` namespace.

### Procedure

1. Run:

    ```console
    kubectl create ns tap-install
    ```

2. Run:

    ```console
    kapp rename -a tanzu-build-service --new-name buildservice.app --new-namespace tap-install
    ```

3. Follow the steps in [Installing using a profile](installing-tap-profile.html).

## <a id='k-to-k-cont-migration'></a> Migrating from kapp installation to kapp controller installation

Complete the following steps to migrate from kapp installation to kapp controller installation. For
more information about Kapp installation, see [Install without kapp controller](installing-no-kapp.html).


### Prerequisites

- The kapp app was deployed with the name `tanzu-build-service` in the default namespace.
- The kapp controller install will be deployed in the `tbs-install` namespace with the name `tbs`.

### Procedure

1. Run:

    ```console
    kubectl create ns tbs-install
    ```
2. Run:

    ```console
    kapp rename -a tanzu-build-service --new-name tbs.app --new-namespace tbs-install
    ```
3. Complete the steps in [Installing with kapp controller](installing.html).
