---
title: TBS Release Notes
owner: Build Service Team
---

## <a id="1-7-2"></a> v1.7.2

**Release Date: October 21, 2022**

### New Features

* Support for installing on openshift out of the box
  * Previously, installing on openshift would give `seccomp` errors and would require additional installation steps.
* Support for the [ubuntu jammy](https://releases.ubuntu.com/22.04/) stack
  * Jammy stacks can be found on [Tanzu Network](https://network.pivotal.io/products/tbs-dependencies/) and will be
    installed automatically when using automatic dependency updates.

### Deprecated Features

* Ubuntu Bionic stacks are being deprecated. The ubuntu bionic release is [removing support in April 2023](https://wiki.ubuntu.com/Releases)
  and apps should migrate to the jammy stack.
* The (legacy) CNB BOM format is deprecated, but enabled by default in TBS. Support can be disabled manually by passing
  `--data-value-yaml include_legacy_bom=false` to `ytt` when processing the TBS bundle or by adding
  `include_legacy_bom=false` to your `tbs-values.yml` file.

### Product Snapshot

Tanzu Build Service 1.7.2 ships with the following components:

* [kpack 0.7.1](https://github.com/pivotal/kpack/releases/tag/v0.7.1)
* [kpack cli v0.7.1](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.7.1)
* [CNB lifecycle v0.14.2](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.2)

Tanzu Build Service supports and utilizes [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

### Security Scanning

There are some HIGH and CRITICAL CVEs that may show up in scans of the TBS release, however none of the CVEs are exploitable.

Below is a list of CVEs that may show up in scans and justification for why they are not exploitable:

```
| Status | CVE ID | Severity | Dependency | Source | Version | Reason Not Affected |
|-|-|-|-|-|-|
| Not Affected | CVE-2022-42003      | High      |    jackson-databind               | java functions buildpack | 2.13.3 | The configuration `UNWRAP_SINGLE_VALUE_ARRAYS` is not used for deserializing data. |
| Not Affected | CVE-2022-42004      | High      |    jackson-databind               | java functions buildpack | 2.13.3 | The only configuration specified by `spring-boot-starter` is `FAIL_ON_UNKNOWN_PROPERTIES` which only affects whether it should continue parsing or not. The CVE requires specific deserializer configuration(s) which we aren't using. |
| Not Affected | GHSA-jjjh-jjxp-wpff | High      |    jackson-databind               | java functions buildpack | 2.13.3 | The configuration `UNWRAP_SINGLE_VALUE_ARRAYS` is not used for deserializing data. |
| Not Affected | GHSA-rgv9-q543-rqg4 | High      |    jackson-databind               | java functions buildpack | 2.13.3 | The only configuration specified by `spring-boot-starter` is `FAIL_ON_UNKNOWN_PROPERTIES` which only affects whether it should continue parsing or not. The CVE requires specific deserializer configuration(s) which we aren't using. |
| Not Affected | CVE-2021-37714      | High      |    jsoup                          | java functions buildpack | 1.12.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | GHSA-m72m-mhq2-9p6c | High      |    jsoup                          | java functions buildpack | 1.12.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-artifact                 | java functions buildpack | 3.6.2 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-builder-support          | java functions buildpack | 3.6.2 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-model                    | java functions buildpack | 3.6.2 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-model-builder            | java functions buildpack | 3.6.2 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-repository-metadata      | java functions buildpack | 3.6.2 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-api             | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-connector-basic | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-impl            | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-provider        | java functions buildpack | 3.6.2 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-spi             | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2007-1536       | High      |    maven-resolver-transport-file  | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-transport-file  | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-transport-http  | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-transport-wagon | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | CVE-2021-26291      | Critical  |    maven-resolver-util            | java functions buildpack | 1.4.1 | These maven dependencies come from `spring-cloud-function-deployer`. They are used for specifying the location of the function using `maven:`. However, this property is defined at runtime by our buildpack to point to a local path `/workspace` thus not using any maven resolution to download a function. |
| Not Affected | GHSA-3mc7-4q67-w48m | High      |    snakeyaml                      | java functions buildpack | 1.30 | This library is used by spring to read local trusted configuration 'application.yml'. See: https://github.com/spring-projects/spring-boot/issues/32221 for more details. |
| Not Affected | CVE-2016-1000027    | Critical  |    spring-core                    | java functions buildpack | 5.3.22 | most Spring applications do not use Java deserialization of untrusted content |

```

### Product Dependencies

Build Service can be installed on any Kubernetes cluster (v1.22 or later).

### Upgrade Path

v1.6.* can be upgraded to v1.7.*. Please follow the [install](installing.html) process to upgrade.
