<p class='note'><strong>Note:</strong> Tanzu Build Service 1.0.0 is currently only available as a release candidate. These docs are a work-in-progress and may contain some inaccurate or missing info. The final documentation for this page will be available here when TBS is fully GA soon. </p>

---
title: Release Notes
owner: Build Service Team
---

## <a id="1-0-0"></a> v1.0.0

**Release Date: August 27, 2020**

**1.0.0** represents the first GA release of the Tanzu Build Service.

This release includes a new [install](installing.html) process that does not depend on duffle or the docker daemon. 

Notable improvements in the install experience:

* The Tanzu Build Service installation uses the modular [k14s](https://k14s.io/) tooling to template and install.
	* `kbld` is used to relocate images.
	* `ytt` is used to template kubernetes installation manifests.
	* `kapp` is used to apply the kubernetes configuration and process updates.
* The installation and relocation of buildpack and stack dependencies is accomplished separately via the `kp` cli with the new `import` command.

This release includes the 0.1.0 release of kpack which incorporates a new more consistent api within the kpack.io api group. Notably, the CustomBuilder and CustomClusterBuilder resources have been renamed to Builder and ClusterBuilder and the Stack and Store have been renamed to ClusterStack and ClusterStore.  

The Project functionality in previous versions of Tanzu Build Service has been removed to allow users to configure RBAC and namespaces externally from TBS. 

### Product Snapshot

Tanzu Build Service 1.0.0 ships with the following components:

* [kpack 0.1.0](https://github.com/pivotal/kpack/releases/tag/v0.1.0)
* [CNB lifecycle v0.9.0](https://github.com/buildpacks/lifecycle/releases/tag/v0.9.0)	
* [kp cli v0.1.0](https://network.pivotal.io/products/build-service#/releases/716705)

The following buildpacks are available and supported for Tanzu Build Service:

* [Tanzu Java](https://network.pivotal.io/products/tanzu-java-buildpack) `tanzu-buildpacks/java`
* [Tanzu Golang](https://network.pivotal.io/products/tanzu-go-buildpack) `tanzu-buildpacks/go`
* [Tanzu NodeJS](https://network.pivotal.io/products/tanzu-nodejs-buildpack) `tanzu-buildpacks/nodejs`

The following buildpacks are available with beta support on the [Tanzu Build Service Dependencies](https://network.pivotal.io/products/tbs-dependencies/) page:

* Paketo .NET Core `paketo-buildpacks/dotnet-core`
* Tanzu PHP `tanzu-buildpacks/php`
* Tanzu HTTPD `tanzu-buildpacks/httpd`
* Tanzu NGINX `tanzu-buildpacks/nginx`
* Paketo Procfile `paketo-buildpacks/procfile`

The following stacks will be provided and updated on the [Tanzu Build Service Dependencies](https://network.pivotal.io/products/tbs-dependencies/) page:

* tiny `io.paketo.stacks.tiny`
* base `io.buildpacks.stacks.bionic`
* full `io.buildpacks.stacks.bionic`

### Product Dependencies

Build Service can be installed on any Kubernetes cluster (v1.16 or later).

### Breaking Changes

* Tanzu Build Service now require Kubernetes api v1.16 or later
* All kpack resources were moved to the kpack.io api group
* CustomBuilders were renamed to Builders in the kpack api and in the kp cli
* CustomClusterBuilders were renamed to ClusterBuilders in the kpack api and in the kp cli
* Stacks were renamed to ClusterStacks in the kpack api and in the kp cli
* Stores were renamed to ClusterStores in the kpack api and in the kp cli
* Project functionality has been removed. 

### Security Fixes

* Secret Syncing functionality is not enabled by default and is only available to users that explicitly [opt in](managing-secrets.html.md)

### Known Issues

* Tanzu Build Service does not currently support configuring a service-wide proxy. This is expected to be supported in the future.


### Upgrade Path

No supported upgrade paths.
