---
title: Tanzu Build Service release notes
owner: Build Service Team
---

This topic describes the changes in Tanzu Build Service.

## <a id="1-6-1"></a> v1.6.1

**Release Date: August 9, 2022**

### New Features

- Update stacks

### Breaking Changes

None

### Product Snapshot

Tanzu Build Service 1.6.1 ships with the following components:

* [kpack 0.6.1](https://github.com/pivotal/kpack/releases/tag/v0.6.1)
* [kpack cli v0.6.0](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.6.0)
* [CNB lifecycle v0.14.1](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.1)

Tanzu Build Service supports and utilizes [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

### Security Scanning

No HIGH or CRITICAL CVEs at time of release

### Product Dependencies

Build Service can be installed on any Kubernetes cluster (v1.19 or later).

### Upgrade Path

v1.5.* can be upgraded to v1.6.*. Please follow the [install](installing.html) process to upgrade.

## <a id="1-6-0"></a> v1.6.0

**Release Date: July 11, 2022**

### New Features

- Support for using AWS IAM for authentication with ECR on EKS clusters
  - This mitigates issues with needing to recreate credentials when using ECR

### Breaking Changes

None

### Product Snapshot

Tanzu Build Service 1.6.0 ships with the following components:

* [kpack 0.6.0](https://github.com/pivotal/kpack/releases/tag/v0.6.0)
* [kpack cli v0.6.0](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.6.0)
* [CNB lifecycle v0.14.1](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.1)

Tanzu Build Service supports and utilizes [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

### Security Scanning

No HIGH or CRITICAL CVEs at time of release

### Product Dependencies

Build Service can be installed on any Kubernetes cluster (v1.19 or later).

### Upgrade Path

v1.5.* can be upgraded to v1.6.*. Please follow the [install](installing.html) process to upgrade.
