---
title: Tanzu Build Service Release Notes
owner: Build Service Team
---

## <a id="1-9-6"></a> v1.9.6

**Release Date: April 19th, 2023**

### Bug Fixes
- Fixed permissions bug that prevented rebase operations on OpenShift

### Product Snapshot

Tanzu Build Service v1.9.6 ships with the following components:

- [kpack v0.9.4](https://github.com/pivotal/kpack/releases/tag/v0.9.4)
- [kpack cli v0.9.1](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.9.1)
- [CNB lifecycle v0.14.3](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.3)

Tanzu Build Service supports and uses [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).


## <a id="1-9-5"></a> v1.9.5

**Release Date: March 6, 2023**

### Bug Fixes
- Fixed bug that prevented the lifecycle image from getting updated with Tanzu Build Service releases
- Bumped Stacks

### Product Snapshot

Tanzu Build Service v1.9.5 ships with the following components:

- [kpack v0.9.3](https://github.com/pivotal/kpack/releases/tag/v0.9.3)
- [kpack cli v0.9.1](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.9.1)
- [CNB lifecycle v0.14.3](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.3)

Tanzu Build Service supports and uses [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

## <a id="1-9-3"></a> v1.9.3

**Release Date: February 3rd, 2023**

### Bug Fixes
- Reverts default stack to bionic in inline descriptor (Will be changed to jammy in next minor)

### Product Snapshot

Tanzu Build Service v1.9.3 ships with the following components:

- [kpack v0.9.2](https://github.com/pivotal/kpack/releases/tag/v0.9.2)
- [kpack cli v0.9.1](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.9.1)
- [CNB lifecycle v0.14.3](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.3)

Tanzu Build Service supports and uses [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

## <a id="1-9-2"></a> v1.9.2

**Release Date: January 27, 2023**

### Bug Fixes
- Bumped Java Buildpacks

### Product Snapshot

Tanzu Build Service v1.9.2 ships with the following components:

- [kpack v0.9.2](https://github.com/pivotal/kpack/releases/tag/v0.9.2)
- [kpack cli v0.9.1](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.9.1)
- [CNB lifecycle v0.14.3](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.3)

Tanzu Build Service supports and uses [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

## <a id="1-9-1"></a> v1.9.1

**Release Date: January 20, 2023**

### Bug Fixes
- Fixed bug that prevented builds from being able to pull SSH based git repositories
- Bumped Java Buildpacks to handle repo.spring.io [permission change](https://spring.io/blog/2022/12/14/notice-of-permissions-changes-to-repo-spring-io-january-2023)

### Product Snapshot

Tanzu Build Service v1.9.1 ships with the following components:

- [kpack v0.9.2](https://github.com/pivotal/kpack/releases/tag/v0.9.2)
- [kpack cli v0.9.1](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.9.1)
- [CNB lifecycle v0.14.3](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.3)

Tanzu Build Service supports and uses [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

## <a id="1-9-0"></a> v1.9.0

**Release Date: January 10, 2023**

### New Features

- All Tanzu Build Service images are built on Ubuntu Jammy
- Tanzu Build Service now includes experimental support for Tanzu Service Mesh and Istio

### Deprecated Features

- **Ubuntu Bionic stacks are deprecated:** The Ubuntu Bionic release is [removing support in April 2023](https://wiki.ubuntu.com/Releases).
Migrate apps to Jammy stacks before this date.
- Non-inclusive configuration keys have been deprecated. It is recommended to switch to the inclusive equivalents:
    ```
    disable_smart_warmer -> deactivate_smart_warmer
    ```

### Product Snapshot

Tanzu Build Service v1.9.0 ships with the following components:

- [kpack v0.9.1](https://github.com/pivotal/kpack/releases/tag/v0.9.1)
- [kpack cli v0.9.0](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.9.0)
- [CNB lifecycle v0.14.3](https://github.com/buildpacks/lifecycle/releases/tag/v0.14.3)

Tanzu Build Service supports and uses [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

### Security Scanning

There are some HIGH and CRITICAL CVEs that might show up in scans of this Tanzu Build Service release.
The only exploitable cve is `CVE-2022-4378` This CVE impacts the kernel which is not packaged within the container image.
When a Jammy patch is available an update will be provided that resolves security scans.

### Product Dependencies

You can install Tanzu Build Service on any Kubernetes cluster v1.22 or later.

### Upgrade Path

You can upgrade v1.7.x to v1.9.x. For upgrade instructions, follow the procedures in
[Installing Tanzu Build Service](installing.html).
