---
title: Tanzu Build Service Release Notes
owner: Build Service Team
---

This topic describes the changes in Tanzu Build Service (commonly known as TBS).

## <a id="1-14-0"></a> v1.14.0

**Release Date: February 29, 2024**

### Breaking changes


### Deprecations

- Building Windows images is deprecated and is marked for removal in a future version.

### New Features


### Product Snapshot

Tanzu Build Service v1.14.0 includes the following components:


Tanzu Build Service supports and uses [Tanzu Buildpacks](https://docs.vmware.com/en/VMware-Tanzu-Buildpacks/index.html).

### Product Dependencies

You can install Tanzu Build Service on any Kubernetes cluster v1.27 or later.

### Upgrade Path

You can upgrade v1.13.x to v1.14.x. For upgrade instructions, follow the procedures in
[Install Tanzu Build Service with kapp controller](installing.html).
