---
title: TBS Release Notes
owner: Build Service Team
---

## <a id="1-3-2"></a> v1.3.2

**Release Date: November 8, 2021**

This release includes a few notable new bug fixes related to image resource caching:

### Bug Fixes

- Fix an issue where a default cache size was not applied with the kp cli. 
- Fix an issue that prevented registry caches from utlizing a private registry.
- Fix an issue that prevented `kp image trigger` builds from using a registry cache. 

### Product Snapshot

Tanzu Build Service 1.3.2 ships with the following components:

* [kpack 0.4.2](https://github.com/pivotal/kpack/releases/tag/v0.4.2)
* [kpack cli v0.4.2](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.4.2)
* [CNB lifecycle v0.11.4](https://github.com/buildpacks/lifecycle/releases/tag/v0.11.4)

Tanzu Build Service supports and utilizes [Tanzu Buildpacks](https://docs.pivotal.io/tanzu-buildpacks).

### Product Dependencies

Build Service can be installed on any Kubernetes cluster (v1.19 or later).

## <a id="1-3-1"></a> v1.3.1

**Release Date: October 25, 2021**

This release includes a few notable new features:

- Mount Image resource's ServiceAccount ImagePullSecrets in Build pods to allow for pulling private run images
- Implement restricted policy on TBS pods following [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) for security hardening

### Bug Fixes

- Fix issue where the webhook cert was being continuously overwritten by kapp controller which caused intermittent webhook errors

### Product Snapshot

Tanzu Build Service 1.3.1 ships with the following components:

* [kpack 0.4.1](https://github.com/pivotal/kpack/releases/tag/v0.4.1)
* [kpack cli v0.4.1](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.4.1)
* [CNB lifecycle v0.11.4](https://github.com/buildpacks/lifecycle/releases/tag/v0.11.4)

Tanzu Build Service supports and utilizes [Tanzu Buildpacks](https://docs.pivotal.io/tanzu-buildpacks).

### Product Dependencies

Build Service can be installed on any Kubernetes cluster (v1.19 or later).

## <a id="1-3-0"></a> v1.3.0

**Release Date: October 8, 2021**

**1.3.0** represents the fourth minor GA release of Tanzu Build Service.

This release includes a few notable new features:

* Support for [cosign image signing](https://github.com/pivotal/kpack/blob/main/docs/image.md#cosign-config) for images built with TBS
* Support for [kubernetes service bindings](https://github.com/pivotal/kpack/blob/main/docs/servicebindings.md)
* Support for creating [CustomStacks](managing-custom-stacks.html) for UBI images (currently, only the Java Tanzu Buildpacks support CustomStacks that use UBI images)
* Image resources can specify [additional tags](https://github.com/pivotal/kpack/blob/main/docs/image.md#tags-config) that will be written to.
* Builds can use registries for caching instead of volumes – see [image config](https://github.com/pivotal/kpack/blob/main/docs/image.md) for how to set the cache tag to be used
* New kpack v1alpha2 api – notable changes can be found [here](https://github.com/pivotal/kpack/releases/tag/v0.4.0)

### Breaking Changes

* Installation ytt values have changed, see [installation docs](installing.html) for changes
* Minimum required k8s version has been changed from v1.18 => v1.19

### Product Snapshot

Tanzu Build Service 1.3.0 ships with the following components:

* [kpack 0.4.0](https://github.com/pivotal/kpack/releases/tag/v0.4.0)
* [kpack cli v0.4.0](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.4.0)
* [CNB lifecycle v0.11.4](https://github.com/buildpacks/lifecycle/releases/tag/v0.11.4)

Tanzu Build Service supports and utilizes [Tanzu Buildpacks](https://docs.pivotal.io/tanzu-buildpacks).

### Product Dependencies

Build Service can be installed on any Kubernetes cluster (v1.19 or later).

### Upgrade Path

v1.2.* can be upgraded to v1.3.*. Please follow the [install](installing.html) process to upgrade.
