---
title: Provission RBAC in Tanzu Build Service
owner: Build Service Team
---

This topic tells you how to provision RBAC for your Tanzu Build Service (commonly known as TBS).

Given that Tanzu Build Service supports functionality most customers would likely want to restrict to only certain users, we encourage utilization of role-based access control (RBAC) as a best practice if Tanzu Build Service is to be broadly deployed to many users.

## <a id='rbac'></a> RBAC support in Tanzu Build Service

Tanzu Build Service is installed with 2 Kubernetes [ClusterRoles](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#role-and-clusterrole) that can be used for RBAC for Build Service users and admins:

* `build-service-user-role`
* `build-service-admin-role`

### <a id='user-role'></a> Build Service user role

This should be used for users who create images and builds.

To view the configuration for this role, run:

```
kubectl get clusterrole build-service-user-role -o yaml
```

To use this ClusterRole, create a [RoleBinding](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#rolebinding-and-clusterrolebinding) with an existing user.

For example:

```yaml
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: my-build-service-user-role-binding
  namespace: my-build-namespace
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: build-service-user-role
subjects:
- kind: User
  name: my-user
```

### <a id='admin-role'></a> Build Service admin role

Use this role for admin users who operate Tanzu Build Service.

To view the configuration for this role, run:

```
kubectl get clusterrole build-service-admin-role -o yaml
```

To use this ClusterRole, create a [RoleBinding or ClusterRoleBinding](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#rolebinding-and-clusterrolebinding) with an existing user.

For example:

```yaml
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: my-build-service-admin-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: build-service-admin-role
subjects:
- kind: User
  name: my-cluster-wide-admin-user
```
